body {
  background-image: url("background.png");
  background-size: cover;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  margin: 50px auto 30px;
  max-width: 600px;
  background-color: #f4eeff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

h1 {
  margin-top: 0;
  text-align: center;
  color: #424874;
}

.input-topic {
  width: 500px;
  padding: 10px 15px;
  font-size: medium;
  border: 2px solid #9d53c3;
  border-radius: 15px;
  margin-bottom: 5px;
}

.submit-button {
  background-color: #a06ee1;
  border: 1px solid #9d53c3;
  border-radius: 30px;
  color: white;
  padding: 10px;
  margin-left: 5px;
  width: 80px;
  cursor: pointer;
}

.submit-button:hover {
  filter: opacity(80%);
}

small {
  opacity: 0.5;
}

.quotes-generator {
  margin: 5px auto;
  max-width: 600px;
  display: none;
  background-color: #f4eeff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.hidden {
  display: block;
}

footer {
  font-size: 15px;
  text-align: center;
  color: black;
}

footer p a {
  color: #421b9b;
}
